<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626025050619-l7iav2dspdge2hj2ugr0sot9b3u4dasa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626025050619-l7iav2dspdge2hj2ugr0sot9b3u4dasa</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZ4pYYj9XvwSI5CIFTn92OZDdpXm6D5g</string>
	<key>GCM_SENDER_ID</key>
	<string>626025050619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.coderschool.Vietlott</string>
	<key>PROJECT_ID</key>
	<string>vietlott-29018</string>
	<key>STORAGE_BUCKET</key>
	<string>vietlott-29018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:626025050619:ios:9efce2be23a61969</string>
	<key>DATABASE_URL</key>
	<string>https://vietlott-29018.firebaseio.com</string>
</dict>
</plist>